<h4>Agregar personaje</h4>
        <form class="row" (ngSubmit)="emitirPersonaje()">
            <input type="text" 
            [(ngModel)]="personaje.name"  name="name" 
            class="form-control mb-2" 
            placeholder="nombre del personaje">

            <input type="number"  
            [(ngModel)]="personaje.power"  name="power"
            class="form-control mb-2" 
            placeholder="poder">
            <button class="btn btn-primary" 
            type="submit"  >Agregar</button>

            <!-- <pre>
                        {{personaje | json}}
            </pre> -->
        </form>
